*{
    font-family: 'Poppins';
}

.desc-container{
    width: 90vw;
    /* margin: 40px; */
    display: flex;
    flex-direction: row;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-family: 'Poppins';
    margin-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    margin-top: 40px;
}

.desc{
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    padding-left: 3vw;
}

.desc-img{
    width: 450px;
    height: 337.5px;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
    border-radius: 10px;
    border: 1px solid #CDCDCD;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desc-headline{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;

    color: #000000;
}

.desc-caption{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20 px;
    text-align: justify;

    color: #000000;
}

.desc-caption{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.button-container{
    margin-top: 3vw;
    gap: 1.5vw;
}

.reject{
    width: 12vw;
    height: 3vw;
    background: #FFFFFF;
    border: 3px solid #522E93;
    border-radius: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #522E93;

    transition: .2s all ease-in-out;
}

.reject:hover{
    transform: scale(1.04);
}

.approve{
    width: 12vw;
    height: 3vw;
    border: 3px solid #522E93;
    background: #522E93;
    border-radius: 30px;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    transition: .2s all ease-in-out;
    margin-left: 15px;
}

.approve:hover{
    transform: scale(1.04);
}


/* Responsive Website */

/* Ukuran Mobile */
@media screen and (max-width: 428px){
    .desc-container{
        width: 90vw;
        /* margin: 40px; */
        margin-left: -2px;
        display: flex;
        flex-direction: column;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        margin-bottom: 8vw;

        /* background-color: red; */
    }

    .desc{
        display: flex;
        flex-direction: column;
        gap: 5vw;
        width: 100%;
        padding-left: 2vw;
        padding-right: 2vw;

        /* border: 1px solid red; */
        margin-left: 20px;
        height: fit-content;
    }

    .desc-img{
        width: 135%;
        height: 300px;
        margin-left: 20px;
        margin-bottom: 20px;
        filter: drop-shadow(4px 4px 8px #CDCDCD);
        border-radius: 10px;
        border: 1px solid #CDCDCD;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .desc-headline{
        font-family: 'M PLUS 1';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 36px;

        color: #000000;
    }

    .desc-point{
        /* background-color: red; */
        width: 140%;
    }



    .desc-caption{
        /* background-color: red; */
        width: 140%;
        font-family: 'poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-align: justify;


        color: #000000;
    }

    .button-container{
        margin-top: 3vw;
        gap: 4vw;

        /* border: 1px solid red; */
    }

    .reject{
        width: 25vw;
        height: 10vw;
        background: #FFFFFF;
        border: 3px solid #522E93;
        border-radius: 30px;

        font-family: 'M PLUS 1';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #522E93;

        transition: .2s all ease-in-out;
    }


    .approve{
        width: 25vw;
        height: 10vw;
        border: 3px solid #522E93;
        background: #522E93;
        border-radius: 30px;
        color: #FFFFFF;

        font-family: 'M PLUS 1';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-align: center;

        transition: .2s all ease-in-out;
    }

    .button-container{
        /* background-color: red; */
        width: 130%;

        flex-direction: row;
        display: flex;
        margin-top: 25px;

        /* gap: 60px; */
    }

    .button-container button{
        margin-left: 10px;
        width: 120px;
        margin-top: -100px;
        padding-top: -30px;
    }

    /* .submit{
        gap: 50px;
        margin-left: 20px;
        background-color: black;
    } */


}
