.eventCartPage a.custom-card,
.eventCartPage a.custom-card:hover {
    color: inherit;
    text-decoration-line: none;
}

.eventCartPage a.custom-card:hover {
    color: #673AB7;
}

.eventCartPage{
    margin-right: 25px;
    margin-bottom: 20px;

    /* border: 1px solid red; */

}

.eventCartPage .card{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    background: #FFFFFF;
    /* box-shadow: 4px 4px 8px #CDCDCD; */
    border-radius: 10px;
    width: 187px;
    height: 207px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    /* box-shadow: 4px 4px 0px #CDCDCD; */
    /* border-radius: 0; */
    /* border: 1px solid #CDCDCD; */
    box-shadow: 4px 4px 8px #CDCDCD;

    transition: all .2s ease-in-out;
}

.eventCartPage .card-img{
    /* width: 187px; */
    width: 100%;
    height: 145px;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */

    /* width: 219px;
    height: 165px; */
    /* width: 100%;
    height: 165px;
    height: 145px;
    border-radius: 20; */
}

.eventCartPage .caption{
    padding: 0px 15px;
    /* font-family: 'Poppins'; */
    /* font-family: 'M PLUS 1'; */
    /* font-family: 'Ubuntu'; */
    font-style: normal;
    font-weight: 400;
    /* font-size: 12px; */
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
}

.eventCartPage .caption:hover{
    text-decoration-color: #673AB7;
}

.caption p{
    font-family: 'Poppins';
    font-size: 14px;
}

/* .custom-card{
    background-color: red;
} */


/* Responsive Website */

/* Ukuran Mobile */
@media screen and (max-width: 428px){

    .eventCartPage{
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .eventCartPage .card{
        font-family: 'Poppins', sans-serif;
        position: relative;
        background: #FFFFFF;
        border-radius: 10px;
        width: 150px;
        height: 180px;
        background: #FFFFFF;
        border: 1px solid #CDCDCD;
        box-shadow: 4px 4px 8px #CDCDCD;
    }
    
    .eventCartPage .card-img{
        width: 100%;
        height: 120px;
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    
    .eventCartPage .caption{
        font-size: 10px;
        padding: 0px 15px;
        font-weight: 400;
        line-height: 20px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        margin-top: 10px;
        text-align: center;
    }

    .caption p {
        font-size: 10px;
        font-weight: 500;
    }
}
