footer{
    background-color: black;
    height: 250px;
    padding: 15px 42px;
    color: white;
	font-family: 'Poppins';

    padding-left: 100px;
    padding-right: 100px;
}

.mid{
    height: 60%;
}

.right i{
    font-size: 45px;
}

.bottom{
    height: 15%;
}

.col{
    /* border: 1px solid white; */
    width: 100px;
    text-decoration: none;
    color: white;
}

.col:hover{
    /* border: 1px solid white; */
    /* width: 100px; */
    text-decoration: none;
    color: #522E93;
}

/* Responsive Website */

/* Ukuran Mobile */

@media screen and (max-width: 428px){
    footer{
        background-color: black;
        height: 250px;
        padding: 15px 42px;
        color: white;
        font-family: 'Poppins';

        padding-left: 5%;
        padding-right: 5%;
    }

    .mid{
        height: 50%;
    }

    .right i{
        font-size: 20px;
    }

    .bottom{
        height: 30%;
    }
}
