.card-ph{
    /* margin-top: 42px; */
    text-decoration: none;
    color: #000000;
    width: 540px;
    height: 280px;
    background: #FFFFFF;
    /* box-shadow: 4px 6px 0px #CDCDCD, 1px 0 .4em rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
    cursor:default;
    /* transition: all .2s ease-in-out; */

    filter: drop-shadow(4px 4px 8px #CDCDCD);
}

/* .card-ph:hover{
    transform: scale(1.02);
} */

.history-header{
    display: flex;
    height: 117px;
}

.product-image{
    margin-left: 42px;
    margin-top: 26px;
    width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.history-title{
    font-family: 'M PLUS 1';
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.product-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: -9px;
    color: #522E93;
}

.quantity{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #522E93;
}

.line-ph{
    margin-bottom: 21px;
    width: 498px;
    margin-left: 21px;
    border: 1.8px solid #522E93;
}

.history-body{
    margin-left: 42px;
    display: flex;
    margin-right: 42px;
    margin-top: 5px;
}

.history-information-left{
    width: 200px;
}

.history-information-left p{
    /* font-family: 'M PLUS 1'; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
}

.history-information-right{
    width: 200px;
    margin-left: 150px;
    text-align: right;
}

.history-information-right p{
    /* font-family: 'M PLUS 1'; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 5px;
}


/* Responsive Website */

/* Ukuran Mobile */

@media screen and (max-width: 428px){
    .card-ph{
        width: 400px;
        /* background-color: red; */
        margin-left: -40px;
    }

    .line-ph{
        margin-bottom: 21px;
        width: 320px;
        margin-left: 40px;
        border: 1.8px solid #522E93;
    }

    .history-information-left p{
        /* background-color: red; */
        width: 120px;
        font-size: 12px;
    }

    .history-information-right{
        /* background-color: red; */
        width: 500px;
        margin-left: 100px;
        text-align: right;
    }
    
    .history-information-right p{
        /* background-color: red; */
        /* font-family: 'M PLUS 1'; */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        /* line-height: 22px; */
        /* margin-bottom: 5px; */
        /* margin-left: 40px; */
    }

}