/* .container{ */
    /* margin-left: 42px;
    margin-bottom: 84px; */

    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* margin-bottom: 84px; */

    /* margin-bottom: 100px; */
/* } */

.section-title{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 42px;
    margin-bottom: 42px;
    /* font-weight:bold; */
    font-size: 30px;
    /* color: #522E93; */
    /* color: black; */
}

.card-container{
    margin-top: -8px;
    text-decoration: none;
    color: black;
    /* width: 40px; */
    /* background-color: red; */

    /* width: 1125px; */
}

.card{
    /* background-color: red; */
    /* width: 1160px; */
    height: 296.5px;
    margin-bottom: 42px;
    /* border: none; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* box-shadow: 4px 0px 0px #CDCDCD; */
    transition: all .2s ease-in-out;

    width: 1125px;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
    border-radius: 10px;
    /* border: 1px solid black; */
}

.card:hover{
    transform: scale(1.01);
    text-decoration: none;
}

.card-add{
    /* width: 1160px; */
    height: 150px;
    margin-bottom: 42px;
    border: none;

    transition: all .2s ease-in-out;

    width: 1125px;
}

.card-add:hover{
    transform: scale(1.02);
    text-decoration: none;
}

.event-image{
    /* width: 1160px; */
    height: 220px;
    border-radius: 8px 8px 0px 0px;
    /* filter: drop-shadow(4px 2px 0px #CDCDCD); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 1125px;
}

.card-section-box{
    height: 80px;
    /* box-shadow: 4px 6px 0px #CDCDCD;
    border-radius: 0px 0px 8px 8px; */

    filter: drop-shadow(4px 4px 8px #CDCDCD);
    border-radius: 10px;

    /* background-color: red; */


}

.card-section-box-text{
    width: 1000px;


}

.card-section-box-text p{
    font-family: 'Poppins';
    text-align: center;
    margin-right: -100px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    color: black;
}

.card-section-box-icon{
    /* background-color: red; */
    height: 80px;

    gap: 15px;

    margin-right: 30px;

    display: flex;
    align-items: center;
}

.card-section-box-add{
    display: flex;
    justify-content:center;
    /* margin-top: px; <-hapus */
    border: 1px solid #FFFFFF;
    /* width: 1160px; */
    height: 150px;
    background: #FFFFFF;
    /* box-shadow: 4px 6px 0px #CDCDCD, 1px 0 .4em rgba(0, 0, 0, 0.25); */
    /* border-radius: 8px; */

    padding-top: 25px;

    width: 1125px;

    filter: drop-shadow(4px 4px 8px #CDCDCD);
    border-radius: 10px;
    padding-top: 40px;
}

.card-section-box-icon1{
    transition: all .2s ease-in-out;
}

.card-section-box-icon1:hover{
    transform: scale(1.01);
}

.card-section-box-icon1 img{
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 14px;
}

.card-section-box-icon2 img{
    width: 42px;
    height: 37px;
    margin-right: 21px;
}

.card-section-box-icon2{
    transition: all .2s ease-in-out;
}

.card-section-box-icon2:hover{
    transform: scale(1.01);
}

.card-section-box-finished{
    /* display: none; */
    display: flex;
    justify-content:space-around;
    margin-top: -8px;
    /* width: 1160px; */
    height: 80px;
    background: none;
    /* box-shadow: 4px 6px 0px #CDCDCD; */
    /* border-radius: 8px; */

    /* border-radius: 0px 0px 8px 8px; */

    width: 1125px;

    filter: drop-shadow(4px 4px 8px #CDCDCD);
    border-radius: 10px;
}

.card-section-box-text-finished p{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    margin-top: 21px;
    color: black;
}

.section-title-finished{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 84px;
    margin-bottom: 42px;
    /* font-weight:bold; */
    font-size: 30px;
    color: #522E93;
}

.gap{
    height: 100px;
}


/* Responsive Website */

/* Ukuran Mobile */
@media screen and (max-width: 428px){
    .container{
        /* background-color: red; */
        /* border: 1px solid red; */
        height: fit-content;
        padding-bottom: 50px;
        /* margin-left: 42px;
        margin-bottom: 84px;

        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 84px;

        margin-bottom: 100px; */
    }
    .card-section-box-add{
        /* background-color: red; */
        display: flex;
        justify-content:center;
        /* margin-top: px; <-hapus */
        border: 1px solid #FFFFFF;
        /* width: 1160px; */
        height: 150px;
        background: #FFFFFF;
        /* box-shadow: 4px 6px 0px #CDCDCD, 1px 0 .4em rgba(0, 0, 0, 0.25); */
        /* border-radius: 8px; */
    
        /* padding-top: 15px; */
    
        width: 400px;
    
        filter: drop-shadow(4px 4px 8px #CDCDCD);
        border-radius: 10px;
        /* padding-top: 40px; */
    }



    .card-section-box{
       
        display: flex;
        justify-content:center;
        /* margin-top: px; <-hapus */
        border: 1px solid #FFFFFF;
        /* width: 1160px; */
        height: 60px;
        /* height: 150px; */
        /* background-color: red; */
        background: #FFFFFF;
        /* box-shadow: 4px 6px 0px #CDCDCD, 1px 0 .4em rgba(0, 0, 0, 0.25); */
        /* border-radius: 8px; */
    
        /* padding-top: 15px; */
    
        width: 400px;
    
        filter: drop-shadow(4px 4px 8px #CDCDCD);
        border-radius: 10px;
        /* padding-top: 40px; */
    }

    .card-section-box-text{
        /* background-color: red; */
        width: 250px;
        height: 50px;
        /* margin-left: -40px; */
        /* padding-left: 20px; */
        /* font-size: 20px; */
        
    }
    
    .card-section-box-text p{
        /* background-color: red; */
        width: 1000px   ;
        text-align: left;
        font-size: 16px;
        margin-top: 6px;
        margin-left: -40px;
        
    
    
    }

    .section-title{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        margin-top: 42px;
        margin-bottom: 42px;
        /* font-weight:bold; */
        font-size: 30px;
        color: #522E93;
        /* color: black; */
    }

    .card{
        /* background-color: red; */
        /* width: 1160px; */
        height: fit-content;
        /* height: 296.5px; */
        margin-bottom: 42px;
        margin-left: 2px;
        /* margin-right: 30px; */
        /* padding-left: 20px; */
        /* border: none; */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* box-shadow: 4px 0px 0px #CDCDCD; */
        transition: all .2s ease-in-out;
    
        width: 300px;
        filter: drop-shadow(4px 4px 8px #CDCDCD);
        border-radius: 10px;
        /* border: 1px solid black; */
    }

    .event-image{
        width: 400px;
        height: 130px;
    }
    

    .card-section-box-icon{
        /* background-color: red; */
        height: 80px;

        gap: 8px;
        margin-right: 15px;
        /* padding-left: 40px; */
        

        /* padding-left: 30px; */
    }

    .card-section-box-icon svg{
        width: 30px;
    }

    .card-section-box-finished{
        display: flex;
        justify-content:center;
        /* margin-top: px; <-hapus */
        border: 1px solid #FFFFFF;
        /* width: 1160px; */
        height: 60px;
        /* height: 150px; */
        /* background-color: red; */
        background: #FFFFFF;
        /* box-shadow: 4px 6px 0px #CDCDCD, 1px 0 .4em rgba(0, 0, 0, 0.25); */
        /* border-radius: 8px; */
    
        /* padding-top: 15px; */
    
        width: 400px;
    
        filter: drop-shadow(4px 4px 8px #CDCDCD);
        border-radius: 10px;
        /* padding-top: 40px; */
    }

    
    .card-section-box-text-finished p{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 41px;
        margin-top: 15px;
        color: black;
    }
    
    .section-title-finished{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        margin-top: 84px;
        margin-bottom: 42px;
        /* font-weight:bold; */
        font-size: 30px;
        color: #522E93;
    }
    
    .gap{
        height: 100px;
    }

}