*{
    font-family:'Poppins';
}

.container{
    width: 80%;
    height: 42vw;
    /* border: 1px solid; */
    gap: 2vw;
    margin-bottom: 2vw;
    
    display: flex;
    flex-direction: row;
}

.left-side{
    /* border: 1px red solid; */
    width: 50%;
    height: 42vw;
    gap: 3vw;
}

.right-side{
    /* border: 1px blue solid; */
    width: 50%;
    height: 42vw;
}

.box{
    padding-top: 3vw;
    padding-bottom: 4vw;
    padding-left: 4vw;
    padding-right: 5vw;
    width: 36vw;
    /* border: 1px solid orange; */
    gap: 1vw;

    background: #FFFFFF;
    border: 2px solid #CFCFCF;
    border-radius: 15px;
    box-shadow: 6px 6px 0px #522E93, inset 0px 0px 0px 2px #CDCDCD;
}

.box h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #522E93;
    
}

.box p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: justify;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
}

.left-side h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;

}

.img-container{
    border: 6px solid #522E93;
    width: 18vw;
    height: 18vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 10vw; */
}

.left-side button{
    margin-top: -2vw;
    border: none;
    width: 24vw;
    height: 3.8vw;
    background-color: #522E93;
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    filter: drop-shadow(4px 4px 8px #CDCDCD);

    color: #FFFFFF;
    transition: .2s all ease-in-out;
}

.left-side button:hover{
    transform: scale(1.04);
}

.box input{
    width: 28vw;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
}

.box textarea{
    width: 28vw;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
}

.change-content{
    display: flex;
    flex-direction: column;
    gap: 0.2vw;

    /* background-color: blue; */
}

.change-content h3{
    font-family: 'Poppins';
    font-size: 14px;
}

.change-content input{
    font-family: 'Poppins';
    font-size: 15px;
    height: 3vw;
    color: #522E93;
    border: 1px solid #522E93;
    padding-left: 1vw;
}

textarea{
    font-size: 15px;
    height: 5vw;
    color: #522E93;
    border: 1px solid #522E93;
    padding-left: 1vw;
    padding-top: 0.5vw;
    resize: none;
}

#edit{
    display: none;
}

.edit-photo{
    /* border: 1px solid red; */
    background-color: #522E93;
    width: 4vw;
    height: 4vw;
    border-radius: 10px;
    align-self: flex-end;
    z-index: 2;
    position: absolute;
    margin-left: 13vw;

    transition: .2s all ease-in-out;
}

.edit-photo:hover{
    transform: scale(1.04);
}

.edit-photo i{
    font-size: 2vw;
    color: white;
}

.container-edit{
    display: flex;
    flex-direction: row;
}


/* Responsive Website */

/* Ukuran Mobile */
@media screen and (max-width: 428px){
    .container{
        width: 80%;
        height: 120%;

        /* background-color: green; */
        /* height: fit-content; */
        /* border: 1px solid; */
        gap: 2vw;
        margin-bottom: 10vw;

        display: flex;
        flex-direction: column;
    }
    
    .left-side{
        /* border: 1px red solid; */
        width: 100%;
        height: 50vw;
        gap: 3vw;
        
        margin-bottom: 20px;

        /* background-color: blue; */
    }
    
    .right-side{
        /* border: 1px blue solid; */
        width: 100%;
        height: 42vw;

        margin-top: 80px;
    }
    
    .box{
        padding-top: 3vw;
        padding-bottom: 4vw;
        padding-left: 4vw;
        padding-right: 5vw;

        margin-bottom: 30px;

        width: 100%;
        /* border: 1px solid orange; */
        gap: 1vw;
    
        /* background: red; */
        background: #FFFFFF;
        border: 2px solid #CFCFCF;
        border-radius: 15px;
        box-shadow: 6px 6px 0px #522E93, inset 0px 0px 0px 2px #CDCDCD;

        margin-top: -100px;
    }

    .left-side button{
        margin-top: -2vw;
        border: none;
        width: 30vw;
        height: 6.8vw;
        background-color: #522E93;
        border-radius: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        filter: drop-shadow(4px 4px 8px #CDCDCD);
    
        color: #FFFFFF;
        transition: .2s all ease-in-out;
    }

    .left-side-edit button{
        margin-top: -2vw;
        border: none;
        width: 40vw;
        height: 7.5vw;
        background-color: #522E93;
        border-radius: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        filter: drop-shadow(4px 4px 8px #CDCDCD);
    
        color: #FFFFFF;
        transition: .2s all ease-in-out;
    }

    .left-side h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 45px;
        margin-top: -5px;
    }

    .bi-pencil-square{
        display: none;
    }

   
    /* Edit Profile Responsive */
    #edit{
        display: none;
    }
    
    .edit-photo{
        /* border: 1px solid red; */
        background-color: #522E93;
        width: 4vw;
        height: 4vw;
        border-radius: 10px;
        align-self: flex-end;
        z-index: 2;
        position: absolute;
        margin-left: 13vw;
    
        transition: .2s all ease-in-out;
    }
    
    .edit-photo:hover{
        transform: scale(1.04);
    }
    
    .edit-photo i{
        font-size: 2vw;
        color: white;
    }

    .left-side h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 45px;
    
    }

    .edit-btn{
        margin-bottom: 20px;
    }

    .change-content{
        display: flex;
        flex-direction: column;
        gap: 0.2vw;
    
        /* background-color: blue;  */
    }
    
    .change-content h3{
        font-family: 'Poppins';
        font-size: 14px;
    }

    .change-content input{
        font-family: 'Poppins';
        font-size: 15px;
        width: 60vw;
        height: 7vw;
        color: #522E93;
        border: 1px solid #522E93;
        padding-left: 1vw;
    }

    .change-content textarea{
        font-family: 'Poppins';
        font-size: 15px;
        width: 60vw;
        height: 15vw;
        color: #522E93;
        border: 1px solid #522E93;
        padding-left: 1vw;
    }

    .edit-box{
        margin-top: 0px;
    }

    .container-edit{
        display: flex;
        flex-direction: column;
    }
    
    .left-side-edit{
        /* border: 1px red solid; */
        width: 100%;
        height: 50vw;
        gap: 3vw;
        
        margin-bottom: 10px;

        /* background-color: blue; */
    }

    .outer-container-edit{
        /* background-color: red; */
        height: 140vw;
    }



    
}


